#main{
    max-width: 90%;
    
    margin-left: 5%;
    margin-right: 5%;
    

}

#mainRow{
    background-color: #40916c ;
}

#mainComp{
    font: bolder;
    padding: 20px;
    margin-top: 40px;
}

#tableTitle{
    
    font-style: bolder;
}

#login{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    max-width: 40%;
}

